<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Everything u need on one page</title>
</head>
<body>
<h1>Dota Place</h1>
<table>
    <td>
        <tr>
            <div th:each="entry : ${blogUpdateEntries}">
                <h2 th:text="${entry.title}"></h2>
                <span th:text="${entry.posted}"></span>
                <p th:text="${entry.content}"></p>
                <span th:text="${entry.created}"></span>
            </div>
        </tr>
    </td>
    <td>
        <tr>
            <div th:each="entry : ${blogEntries}">
                <h2 th:text="${entry.title}"></h2>
                <span th:text="${entry.posted}"></span>
                <p th:text="${entry.content}"></p>
                <span th:text="${entry.created}"></span>
            </div>
        </tr>
    </td>
</table>


</body>
</html>